
<h1>Sign Up</h1>

<div class="container">
  <form [formGroup]="userForm"  (ngSubmit)="onSubmit(userForm.value)" class="form-horizontal" method="POST">
    <div class="form-group">
      <label for="username">Name:</label>
      <input type="text" formControlName="username" class="form-control" id="username" placeholder="name">
    </div>
    <p class="alert alert-danger" *ngIf="!userForm.controls.username.valid && userForm.controls.username.touched">This field is required!(length less then 3 letters)</p>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" formControlName="email" class="form-control" id="email" placeholder="email">
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <p class="alert alert-danger" *ngIf="!userForm.controls.email.valid && userForm.controls.email.touched">This field is required!</p>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" class="form-control" id="password">
    </div>
    <p class="alert alert-danger" *ngIf="!userForm.controls.password.valid && userForm.controls.password.touched">This field is required!</p>
    <button type="submit" class="btn btn-default" >Signup</button>
  </form>
</div>
