<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
  <div class="form-group" formGroupName="passwords">
      <div class="form-group">
        <label class="center-block" for="password">New Password:
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="password" autocomplete="new-password">
        </label>
        <p class="help-block" *ngIf="resetPasswordForm.get(['passwords','password']).hasError('required') && resetPasswordForm.get(['passwords','password']).touched">Enter password</p>
      </div>
      <div class="form-group">
        <label class="center-block">Repeat password:
          <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="password" autocomplete="new-password">
        </label>
        <div class="help-block" *ngIf="resetPasswordForm.get(['passwords','confirmPassword']).hasError('required') && resetPasswordForm.get(['passwords','confirmPassword']).touched">Enter password</div>
        <div style='color:#ff7355' *ngIf="resetPasswordForm.get(['passwords','password']).value != resetPasswordForm.get(['passwords','confirmPassword']).value && resetPasswordForm.get(['passwords','confirmPassword']).value != null">
          Password does not match</div>

      </div>

  </div>
  <button type="submit" class="btn btn-default">Send</button>
</form>
