
<form [formGroup]="restorePasswordForm" (ngSubmit)="onSubmit(restorePasswordForm.value)">
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Email:
      <input class="form-control" formControlName="email">
    </label>
  </div>
  <div class="alert alert-danger" *ngIf="message">{{message}}</div>
  <button type="submit" class="btn btn-default">Send</button>
</form>
