
<!--#sendMsg="ngForm" (ngSubmit)="sendMessage()"-->
<form #sendMsg="ngForm">
  <div class="input-group col-xs-8">
    <input
      [(ngModel)]="message"
      name = 'message'
      ngControl="msg"
      required
      type="text"
      class="form-control"
      placeholder="Type your message here...">
    <span class="input-group-btn">
                    <button
                      [disabled]="!sendMsg.form.valid"
                      class="btn btn-warning btn-sm"
                      type="submit" (click) = 'sendMessage(message)'>send</button>
                </span>
  </div>
  <p>{{ error_msg }}</p>
</form>







