

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!--<div class="collapse navbar-collapse" id="navbarNav">-->
    <ul class="navbar-nav  mr-auto">

      <li class="nav-item"><a class="nav-link" [routerLink]="['/articles']" routerLinkActive="active">Articles</a></li>
      <li class="nav-item" *ngIf="!user"><a class="nav-link" [routerLink]="['/users/signup']" routerLinkActive="active">Sign up</a></li>
      <li class="nav-item" *ngIf="!user"><a class="nav-link" [routerLink]="['/users/login']" routerLinkActive="active">Login</a></li>
      <li class="nav-item" *ngIf="user"><a class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a></li>
      <li class="nav-item" *ngIf="user"><a class="nav-link" [routerLink]="['/users/profile/', user._id]" routerLinkActive="active">Profile</a></li>
    </ul>
    <!--</div>-->
    <span class="navbar-text" *ngIf="user">
      Welcome, <a [routerLink]="['/users/profile/', user._id]">{{user?.username}}</a>
    </span>

  </nav>

