<h1>Edit Article</h1>

<div class="container">
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit(articleForm.value)" class="form-horizontal" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="nameArticle">Name of the article</label>
      <input type="text" formControlName="nameArticle" class="form-control" id="nameArticle" [(value)]="article.nameArticle">

    </div>
    <div class="form-group">
      <label for="content">An article</label>
      <textarea formControlName="content" class="form-control" id="content" rows="3" [(value)]="article.content"></textarea>
    </div>

    <div class="row">
      <div *ngFor="let imageFile of imagesFiles" class="picPreview">
        <img id="image" [src]="imageFile.image" width="100" height="100" />
        <span class="glyphicon glyphicon-remove" (click)="deleteAddedImage(imageFile)"></span>
      </div>
    <!--</div>-->

    <!--<div class="row">-->
      <div *ngIf="article?.imagesId">
        <div *ngFor="let image of article.imagesId" class="loadedImages picPreview"  [hidden]="hiddenImages[image]" >

          <img (load)="loaded()" src="http://localhost:3001/articles/getImage/{{image}}?w=100&h=100 " />
          <span class="glyphicon glyphicon-remove" (click)="deleteEditedImage(image)"></span>

        </div>
      </div>
    </div>

    <!--<input type="file" name="file" (change)="fileChange($event)" >-->
    <div class="row" >
      <label class="btn btn-primary chooseImage" for="my-file-selector">
        <input id="my-file-selector"  type="file" multiple (change)="fileChange($event)" style="display:none;" [disabled]="getTotalImages() > 2" accept="image/*">
        Choose Image
      </label>
    </div>

    <button type="submit" class="btn btn-default" >Save article</button>

  </form>
</div>
