

<h1>Articles</h1>


<p>
  <a [routerLink]="['new']" *ngIf="user"  role="button" class="btn btn-success btn-large">Add article</a>
</p>

<a class="btn btn-success" *ngIf="!user" (click)="c.show()">Add</a>
<login-modal #c="child"></login-modal>

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

<div class="row">
  <div class="col-md-6">

          <div *ngFor="let article of articles">
            <div class="card">
            <div class="card-header">
                <a (click)="gotoDetail(article)" >{{article.nameArticle}}</a>
            </div>
                <div class="card-block">
                  <div class="card-body" >
                      <div class="row">
                          {{article.content}}
                      </div>
                      <div class="row">
                          <div class="card-text" *ngIf="article.imagesId">
                              <div *ngFor="let image of article.imagesId" class="loadedImages">
                                <img src="http://localhost:3001/articles/getImage/{{image}}?w=100&h=100 " />
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div *ngIf="checkUser(article) || checkPermission()" >
                            &nbsp; &nbsp;
                            <a class="text-info" (click)="editArticle(article)" *ngIf="user">Edit</a>
                            &nbsp;&nbsp;
                            <a class="text-info" (click)="deleteArticle(article)" routerLinkActive="active">Delete</a>
                          </div>
                      </div>
                  </div>
               </div>

          </div>
    </div>
  </div>

  <div class="col-md-6">
    <router-outlet ></router-outlet>
  </div>
</div>




<nav class="articles-pagination">

  <ul *ngIf="pages && pages.length" class="pagination">
    <li class="page-item" [ngClass]="{disabled:currentpagetemp === 1}">
      <a class="page-link" (click)="setPage(1)">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:currentpagetemp === 1}">
      <a class="page-link" (click)="setPage(currentpagetemp - 1)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pages" [ngClass]="{active:currentpagetemp === page}">
      <a class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:currentpagetemp === totalPages}">
      <a class="page-link" (click)="setPage(currentpage + 1)">Next</a>
    </li>
    <li class="page-item" [class.disabled]="currentpagetemp === totalPages">
      <a class="page-link" (click)="setPage(totalPages)">Last</a>
    </li>
  </ul>


</nav>



