
<h1>New Article</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="articleForm" (ngSubmit)="onSubmit(articleForm.value)" class="form-horizontal" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="nameArticle">Name of the article</label>
          <input type="text" formControlName="nameArticle" class="form-control" id="nameArticle" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="content">An article</label>
          <textarea formControlName="content" class="form-control" id="content" rows="3"></textarea>
        </div>

        <div>
          <div class="row" >
            <label class="btn btn-primary chooseImage" for="my-file-selector">
              <input id="my-file-selector"  type="file" multiple (change)="fileChange($event)" style="display:none;" [disabled]="imagesFiles.length>2" accept="image/*">
              Choose Image
            </label>
          </div>

          <div class="row">
            <div *ngFor="let imageFile of imagesFiles" class="picPreview">
              <img id="image" [src]="imageFile.image" width="100" height="100" />
              <span class="glyphicon glyphicon-remove" (click)="deleteImage(imageFile)"></span>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-default">Add article</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--[disabled]="!f.vald"-->
