<h1>Edit Profile</h1>

<div class="container">

        <form [formGroup]="editUserForm"  (ngSubmit)="onSubmit(editUserForm.value)" class="form-horizontal" method="POST" enctype="multipart/form-data">
          <div class="col-xs-6">
              <div class="form-group">
                <label for="username">Name:</label>
                <input type="text" formControlName="username" class="form-control" id="username" placeholder="name" [(value)]="user.username">
              </div>

              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" formControlName="email" class="form-control" id="email" placeholder="email" [(value)]="user.email">
              </div>
              <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
            <button type="submit" class="btn btn-success" >Save</button>
          </div>

          <div class="col-xs-6">
              <div class="row" id="image-selector">
                <label class="btn btn-primary chooseImage" for="my-file-selector">
                  <input id="my-file-selector"  type="file" (change)="fileChange($event)" style="display:none;" accept="image/*">
                  Choose Image
                </label>
              </div>


              <div  *ngIf="user?.avatarId && !imageFile">
                  <img class="img-thumbnail avatar-image" src="http://localhost:3001/users/getImage/{{user?.avatarId}}?w=150&h=150 " />
              </div>


              <div *ngIf = "imageFile">
                <img id="image" [src]="imageFile.image" class="img-thumbnail avatar-image"/>
              </div>

          </div>
        </form>
</div>
