<h1>Login</h1>

<div class="container">
  <p class="alert alert-danger" *ngIf= errMs>{{errMs}}</p>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" class="form-horizontal" method="POST">

    <div class="form-group">
      <label for="username">Name:</label>
      <input type="text" formControlName="username" class="form-control" id="username" placeholder="name">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" class="form-control" id="password" placeholder="password" autocomplete="new-password">
    </div>
    <div>
      <a [routerLink]="['/user/forgetPassword']">Forget your password</a>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
</div>
