<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="smModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" class="form-horizontal" method="POST">
            <div class="row">
              <div class="form-group col-md-6 ">
                <label for="username">Name:</label>
                <input type="text" formControlName="username" class="form-control" id="username" placeholder="name">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6 ">
                <label for="password">Password:</label>
                <input type="password" formControlName="password" class="form-control" id="password">
              </div >
            </div>
            <button class="col-md-4" type="submit" class="btn btn-default" (click)="smModal.hide()">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


