
.edit-profile {
  margin-bottom: 20px;
}
.avatar-image {
  width: 50px;
  height: 50px;
}
.message-box {
  margin-left: 80px;
}
.chat {
  width: 300px;

}
.chat-content {
  max-height: 500px;
  overflow-y: scroll;
}
