<div class="container">
  <h1>Profile</h1>
   <div class="col-xs-6">
          <h2> User name: {{user?.username}}</h2>

     <div *ngIf="user?.avatarId">
       <img src="http://localhost:3001/users/getImage/{{user.avatarId}}?w=100&h=100 " />
     </div>

         <div *ngIf="currentUser?._id == user?._id">
              <p [hidden]="show"><a class="text-info" (click)="showChatHistory()" >Show chat history</a></p>
           <p [hidden]="!show"><a class="text-info" (click)="hideChatHistory()" >Hide chat history</a></p>
              <div *ngIf="!listUsers?.length == 0 && show">
                  <p>List of Users</p>
                   <div *ngFor="let user of listUsers" >
                      <a class="text-info" (click)="getChatHistory(user._id.uniqueValue)">{{user.guestUser}}</a>
                   </div>

              </div>
         </div>

         <div *ngIf="currentUser?._id !== user?._id">

           <!--<p><a (click)="getChatHistoryForGuestUser()" >Show chat </a></p>-->
             <div *ngIf="chatMessages?.length !== 0 && chatMessages !== undefined">

                <a (click)="showChatHistoryForGuestUser(currentUser._id)">Show chat with {{user?.username}}</a>
             </div>

         </div>
    </div>




  <div class="col-xs-6">
    <div *ngIf="currentUser?._id == user?._id">
      <button type="button" class="btn btn-success edit-profile" (click)="goToEditProfile(user)">Edit Profile</button>
    </div>
  </div>

</div>
<div *ngIf="chat" draggable class="chat" id="dragTarget">
  <div >
    <div class="card" >
      <div class="card-header bg-primary text-white chatHeader" >
        <span class="fa fa-comments"></span> Chat
      </div>
      <div class="card-body chat-content">
        <div *ngFor="let message of chatMessages">
          <div *ngIf="selectedHistoryUserId == message.from._id || selectedHistoryUserId == message.to._id" >

            <div class="left clearfix">
                                 <span class="chat-img pull-left">
              <!--<img alt="User Avatar" class="img-circle" />-->
                <div  *ngIf="message?.from.avatarId">
                  <img class="rounded-circle avatar-image" src="http://localhost:3001/users/getImage/{{message?.from.avatarId}}?w=150&h=150 " />
                </div>
                <div  *ngIf="!message?.from.avatarId">
                  <img class="rounded-circle avatar-image" src="./././assets/avatar_middle.jpg"/>
                </div>

            </span>
              <div class="chat-body clearfix message-box">
                <div class="header">
                  <strong class="primary-font">{{message.from.username}}</strong>
                </div>
                {{message.content}}
                <!--<hr>-->
              </div>
            </div>
            <hr>
          </div>

        </div>
      </div>
      <div class="card-footer">
        <p><a (click)="messageForm()" [hidden]="messageRequest">Send a message to user</a></p>


        <div [hidden]="!messageRequest">
          <chat  [messages] = "newMessagesArray"></chat>
          <create-message  [ownerPageId] = "user?._id"></create-message>

        </div>
      </div>

    </div>
  </div>
</div>
